<div class="min-w-[300px] text-center text-[#676a6c]">
  <mat-dialog-content>
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-6 text-pure-red">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="w-[44px] h-[44px] mx-auto">
          <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/>
        </svg>

        <p class="text-[20px] font-bold">Ocorreu um erro</p>
      </div>

      <div class="flex flex-col gap-2 text-[16px] leading-none">
        @if(data.code) {
          <p><b>Código do erro:&nbsp;</b>{{ data.code }}</p>
        }
        @if(data.message) {
          <p><b>Mensagem:&nbsp;</b>{{ data.message }}</p>
        }
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="w-full flex flex-row gap-16 justify-between">
      <div class="w-fit mr-auto">
        @if(data.reportEnabled) {
          <button class="w-min" buttonIconName="report" buttonIconPosition="start" buttonText="Reportar" buttonTextJustify="start" buttonType="disabled-button" matTooltip="Em desenvolvimento" matTooltipPosition="above"></button>
        }
      </div>
      <div class="w-fit ml-auto">
        <button class="w-min" mat-dialog-close buttonIconName="close" buttonIconPosition="start" buttonText="Fechar" buttonTextJustify="start" buttonType="cancel-button"></button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
